* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Georgia', serif;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  width: 100%;
}
